fetch-retries=5
fetch-timeout=120000
network-timeout=120000

auto-install-peers=true
strict-peer-dependencies=false

public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

prefer-workspace-packages=true
shared-workspace-lockfile=true

resolution-mode=highest

save-workspace-protocol=true